{% extends 'base.html' %} {# base.html을 상속받습니다. #}
{% load static %} {# 필요하다면 static 로드를 명시합니다. base.html에 이미 있다면 생략 가능합니다. #}
{% block content %} {# base.html의 {% block content %} 영역을 이 내용으로 채웁니다. #}
<div class="container px-4 px-lg-5">
    {% if content_list %}
        {% for content in content_list %}
        <div class="row gx-4 gx-lg-5 align-items-center my-5">
            <div class="col-lg-7">
                {# 상품 이미지가 있다면 content.image_url 등으로 표시할 수 있습니다. #}
                {% if content.image %}
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="{{ content.image.url }}" alt="{{ content.title }}" />
                {% else %}
                    <img class="img-fluid rounded mb-4 mb-lg-0" src="https://dummyimage.com/900x400/dee2e6/6c757d.jpg" alt="..." />
                {% endif %}
            </div>
            <div class="col-lg-5">
                <h1 class="font-weight-light"><a href="/product/{{ content.id }}/">{{ content.title }}</a></h1>
                {# content 필드의 내용을 200자까지만 보여주고, 나머지는 ... 처리 (truncatewords 필터 사용) #}
                <p>{{ content.content | truncatewords:30 }}</p> {# 30 단어까지만 표시 #}
                {# 또는 <p>{{ content.content | slice:":200" }}...</p> #}
                <a class="btn btn-primary" href="/product/{{ content.id }}/">자세히 보기</a> {# 상세 페이지 링크 #}
            </div>
        </div>
        {% endfor %}
    {% else %}
        <div class="text-center my-5">
            <p>표시할 상품 목록이 없습니다.</p>
        </div>
    {% endif %}
    {# 페이지네이션이 필요하다면 여기에 추가할 수 있습니다. #}
    {# 예: {% include 'pagination.html' %} #}
</div>
{% endblock %} {# content 블록 끝 #}